.contador-container {
  position: absolute;
  top: 214px;
  left: 36px;
  width: 600px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(90deg, #A12727 0%, rgba(120, 1, 82, 0.51)100%);
  color: #FFFFFF;
  padding: 20px;
  display: flex;
  padding-left: 70px;
}

.counter-content {
  display: flex;
  align-items: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.counter-content h1 {
  background: #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.increment-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: relative;
  z-index: 10;
}

.increment-button img {
  width: 30px;
  height: 30px;
}

.cat-image {
  position: absolute;
  animation: fall 1s ease-in-out forwards;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(300px) rotate(20deg);
    opacity: 0;
  }
}