.mo-evolution-container {
    position: absolute;
    bottom: 45px;
    right: 95px;
    width: 430px;
    height: 415px;
    background-color: #100226;
    border-radius: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .evolution-image {
    width: 350px;
    height: auto;
  }
  