.app-background {
  background: linear-gradient(158deg, #1A095E 9.57%, #0D0116 85.18%), url('./images/background-image.png') no-repeat center center fixed;
  min-height: 100vh;
  position: relative;
  background-size: cover;
}

.welcome-container {
  padding-top: 30px;
  padding-left: 25px;
  display: flex;
  align-items: center;
}

.logo {
  width: 160px; 
  height: auto;
  margin-right: 20px; 
}

.welcome-text {
  color: #b2ccff;
  font-family: Inter, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center; 
}

.code-icon {
  width: 130px; 
  height: auto;
  margin-left: 10px;
}

.element-header{
  width: 130px; 
}

.background-image-center {
  position: fixed;
  top: 10px;
  left: 40px;
  width: auto; 
  height: auto;
}

.elements-graphics-heart-calendar {
  position: absolute;
  top: 30px;
  right: 515px;
  width: 130px; 
  height: auto;
  z-index: 10;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.elements-graphic-heart-contador {
  position: absolute;
  top: 285px;
  left: 630px;
  width: auto; 
  height: auto;
  z-index: 10;
}

.elements-graphics-hearts-polaroid {
  position: absolute;
  bottom: 5px;
  left: 10px;
  width: 140px; 
  height: auto;
  z-index: 10;
}

.elements-reminders {
  position: absolute;
  top: 650px;
  right: 10px;
  width: 200px;
  height: auto;
}

.elements-back{
  position: absolute;
  bottom: 0px;
  left: 340px;
  width: 310px;
  height: auto;
}

.mo-evolution-container {
  position: absolute;
  bottom: 45px;
  right: 95px;
  width: 430px;
  height: 415px;
  background-color: #100226;
  border-radius: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.evolution-image {
  width: 350px;
  height: auto;
}

.code-icon-persona {
  position: absolute;
  width: 125px;
  height: 87px;
  transform: rotate(-6.500deg);
  right: 50px;
  bottom: 300px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(-6.500deg);
  }
  50% {
    transform: translateY(-20px) rotate(6.500deg);
  }
  100% {
    transform: translateY(0) rotate(-6.500deg);
  }
}

.elements-graphics-aster {
  position: absolute;
  right: 435px;
  bottom: 80px;
  width: auto;
  height: auto;
  z-index: 11;
  animation: floatAster 3s ease-in-out infinite;
}

@keyframes floatAster {
  0% {
    transform: translateY(0) rotate(-6.500deg);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0) rotate(-6.500deg);
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  bottom: 200px;
  background-color: #2B2660;
  width: 1000px;
  height: 490px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-header {
  background: linear-gradient(203deg, #FFF 29.89%, #7DA9FF 155.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 70px;
  transform: translateY(-10px); 
}

.popup-alert {
  color: #7DA9FF;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px; 
}

.popup-message {
  width: 864px;
  color: #9AA3F3;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 110px;
  margin-top: 5px;
}

.popup-button {
  width: 203px;
  height: 47px;
  border-radius: 12px;
  border: 1px solid #FEAAF6;
  background: linear-gradient(90deg, #D02750 0%, #E979EB 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.popup-button:hover {
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  bottom: 200px;
  background-color: #2B2660;
  width: 1000px;
  height: 490px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-header {
  background: linear-gradient(203deg, #FFF 29.89%, #7DA9FF 155.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  transform: translateY(-10px);
}

.popup-alert {
  color: #7DA9FF;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}

.popup-message {
  width: 864px;
  color: #9AA3F3;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 65px;
  margin-top: 5px;
}

.popup-button {
  width: 203px;
  height: 47px;
  border-radius: 12px;
  border: 1px solid #FEAAF6;
  background: linear-gradient(90deg, #D02750 0%, #E979EB 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.popup-button:hover {
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.35);
}


.popup-image-top {
  position: absolute;
  width: 207.45px;
  height: 147.286px;
  transform: rotate(-2.527deg);
  top: -60px;
  left: 920px;
}

.popup-image-bottom {
  position: absolute;
  width: 210px; 
  height: 160px; 
  transform: rotate(-5.527deg);
  top: 410px;
  right: 925px;
  z-index: -1;
}
